button {
    display: block;
    position: relative;
}

pre {
    display: block;
    position: relative;
}



header {
    display: block;
    position: relative;
}

footer {
    display: block;
    position: fixed;
    z-index: 2;
}

.Schedulertoolbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Schedulertoolbar > div:first-child {
    display: flex;
    justify-content: start;
    position: relative;
}

.Schedulertoolbar > div:last-child {
    display: flex;
    justify-content: end;
    position: relative;
}

.Schedulertoolbar > div:last-child > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Schedulertoolbar > div:nth-child(2) {
    display: flex;
    align-items: center;
    position: relative;
}



.Calendar {
    display: block;
    position: relative;
}

.CalendarHeader {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 2;
}

.CalendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
}

.CalendarBodyDay {
    display: block;
    position: relative;
}

.CalendarBodyDayHeader {
    display: flex;
    justify-content: center;
    position: relative;
}

.CalendarBodyDayBody {
    display: block;
    position: relative;
}

.CalendarBodyDayBody button {
    z-index: 1;
}



.Entriestoolbar {
    display: block;
    position: relative;
}

.Entriestoolbar button {
    display: block;
    float: left;
    position: relative;
}



.Common {
    display: block;
    position: relative;
}

.CommonHeader {
    display: block;
    position: relative;
}

.CommonEntry {
    display: block;
    position: relative;
}



.Enter {
    display: fixed;
    position: absolute;
}

.Enter form {
    display: block;
    position: relative;
}

.Enter div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Enter button {
    display: block;
    position: relative;
}